<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Sample of websocket with golang</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="./lib/crypto-js/crypto-js.js"></script>
    <!-- <script src="./lib/crypto-js/aes.js"></script> -->
    <!-- <script src="./lib/crypto-js/pad-zeropadding.js"></script> -->
    <!-- <script src="./js/functions.js"></script> -->
    <script src="./js/IWebSocket.js"></script>
    <script src="./js/im.js"></script>
    <script>
        $(function () {
            var im = new IM();
            // setTimeout(() => {
            //     test();
            // }, 1000);
            // var test = function () {
            //     im.init({
            //         os: 'win',
            //         os_version: '1.0',
            //         app: 'client',
            //         app_version: '1.0',
            //         tag: {}
            //     }, function (data) {
            //         console.log(data);
            //     });
            //     im.bind({
            //         id: '',
            //         password: '',
            //     }, function (data) {
            //         console.log(data);
            //     });
            //     im.lists(function(data){
            //         console.log(data);
            //     });
                
            // }
            var token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoyMTcsInBsYXRmb3JtIjoiaW9zIn0.JLx_CFhFIdpEnUBJUxjB0BQ-H3PAeeFm-fd1jG0Dun8',
            id = '217',
            password = 'c62c66585e1ba998326c0bfd2cccc6aa';
            $('#sendBtn').click(function(){
                im.init({
                    os: 'win',
                    os_version: '1.0',
                    app: 'client',
                    app_version: '1.0',
                    tag: {}
                }, function (data) {
                    console.log(data);
                    im.bind({
                        id: id,
                        password: password,
                    }, function (data) {
                        console.log(data);
                    });
                });
            });
            $('#sendBtn3').click(function(){
                im.status({status: 'on'},function(data){
                    console.log(data);
                });
            });
            $('#sendBtn4').click(function(){
                im.message({status: 'on'},function(data){
                    console.log(data);
                });
            });
            $('#sendBtn5').click(function(){
                im.all(function(data){
                    console.log(data);
                });
            });
            $('#sendBtn2').click(function(){
                im.lists(function(data){
                    console.log(data);
                });
            });
        });
    </script>
</head>

<body>
    <!-- <input id="name" type="text" /> -->
    <input type="button" id="sendBtn" value="绑定" />
    <input type="button" id="sendBtn2" value="显示列表" />
    <input type="button" id="sendBtn3" value=" 修改在线状态" />
    <input type="button" id="sendBtn4" value=" 发送消息" />
    <input type="button" id="sendBtn5" value=" 增量获取所有会话信息" />
    <ul id="msg-list"></ul>
</body>

</html>